.header{
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: aquamarine; */
    margin-bottom: 0;
}
.value{
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
    font-size: 230%;
    color: white;
}
.red{
    color: red;
}
.green{
    color: green;
}

.body{
    font-family: 'Acme', sans-serif;
}